* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f9fcff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin: 6em 0
}

header {
    color: rgb(129, 30, 187);
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.control-header {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.search-note {
    width: 50vw;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    
}
.search-note:focus {
    outline: 2px solid rgb(129, 30, 187);
}

.filter-Notes {
    width: 6vw;
    padding: 10px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    background-color: rgb(34, 34, 34);
    color: white
}

button {
    display: flex;
    gap: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(129, 30, 187);
    color: white;
    cursor: pointer;
}

.empty-state {
    text-align: center;
    margin-top: 50px;
    color: hsl(0, 0%, 59%);

}