* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f9fcff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin: 6em 0
}

header {
    color: rgb(132, 17, 199);
    padding: 15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.control-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 10px;
}

.search-note-input {
    width: 50vw;
    display: flex;
    justify-content: center;
    padding: 13px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    
}
.search-note-input:focus {
    outline: 2px solid rgb(132, 17, 199);
}

.filter-Notes {
    width: 7vw;
    padding: 12px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
    color: white
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px;
    border: none;
    border-radius: 5px;
    background-color: rgb(132, 17, 199);
    color: white;
    cursor: pointer;
}

.empty-state {
    text-align: center;
    margin-top: 50px;
    color: hsl(0, 0%, 59%);

}