* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0 15em
}

::-webkit-scrollbar{
    display: none
}

.container {
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin: 6em 0
}

header {
    color: rgb(132, 17, 199);
    padding: 15px;
    text-align: center;
    font-size: 3.5vmin;
    font-weight: bold;
}

.control-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 1em;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.103);
}

.control-header:hover {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.160);
    transition: box-shadow 0.3s ease-in-out;
}

.search-note-input {
    flex: 1;
    padding: 13px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    transition: border-color;
    
}

.search-note-input:focus {
    outline: 2px solid rgb(132, 17, 199);
}

.filter-Notes {
    width: 7vw;
    padding: 12px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(36, 36, 36);
    font-weight: 600;
}

.filter-Notes:focus {
    outline: none;
}

.add-note-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 12em;
    border: none;
    border-radius: 5px;
    align-items: center;
    padding: 12px 0em ;
    background-color: rgb(132, 17, 199);
    color: white
}

.empty-state {
    text-align: center;
    margin-top: 50px;
    color: hsl(0, 0%, 59%);

}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    display: flex;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    visibility: hiddn;
    transition: opacity 0.3s ease;
}

.modal-overlay.active {
    visibility: visible;
    opacity: 1
}

.modal {
    background: white;
    padding: 4em 2em;
    border-radius: 15px;
    width: 40em;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.top-modal-head {
    margin-bottom: 1em;
}

.new-note-head {
    margin-bottom: 1.5em;
    color: #8411c7;
    font-size: 2em;
    font-weight: 700;
}

.form-label {
    display: block;
    font-size: 18px;
    margin-bottom: 14px;
    font-weight: 600;
}

#noteTitleInput {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#noteTextArea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.tag-option {
   position: relative
}

.tag-radio {
    position: absolute;
    opacity: 0;
}

.modal-actions {
    display: flex;
    gap: 1em;
    margin-top: 2em
}



/* .tag-container {
    width: 100%;
    display: flex;
} */

.tag-container .span1,
.tag-container .span2,
.tag-container .span3,
.tag-container .span4 {
    display: flex;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 0.9rem;
    border-radius: 12em;
    align-items: center;
    padding: 1em 1em;
}

.tag-container .span1 {
    background-color: #bf5ef73a;
    color: #8411c7;
}

.tag-container .span2 {
    background-color: #87ffaf52;
    color: #089c3a;
}

.tag-container .span3 {
    background-color: #9a67f83a;
    color: #5e0ff0;
}

.tag-container .span4 {
    background-color: #f86ca236;
    color: #f00f65;
}


.tag-container svg {
    width: 1.5em;
    height: 1.5em;
}

.save-button {
    background-color: rgb(132, 17, 199);
    color: white;
    padding: 1.2em 3em;
    width: 100%;
    border: none;
    border-radius: 6px;
}

.cancel-button {
    background-color: rgb(200, 200, 200);
    color: rgb(36, 36, 36);
    padding: 1.2em 3em;
    width: 100%;
    border: none;
    border-radius: 6px;
}

.add-note-btn:active,
.save-button:active,
.cancel-button:active {
    transform: scale(0.98);
    transition: transform 0.1s ease-in-out;
}

@media (max-width: 768px) {
    body {
        padding: 0 1em;
    }
    
    header {
        font-size: 4.5vmin
    }


    .modal {
        width: 100%;
        margin: 0 1em;
        padding: 3em 2em;
    }

    .control-header {
        flex-direction: row;
        gap: 1em;
    }

    .search-note-input {
        width: 100%;
    }

    .filter-Notes {
        width: 100%;
    }

    .add-note-btn {
        color: #5e0ff0
    }

}